In [1]:
# Importing relevant libraries

import numpy as np
import pandas as pd
import matplotlib
import pymysql

In [2]:
# Establishing connection to the db

try:
    conn = pymysql.connect(
        database = 'sakila', 
        user = 'root', 
        password = '365pass')
    
except:
    print('Error connecting to the databse')
    
else:
    print('Connected to the Sakila database')

Connected to the Sakila database

In [3]:
# Query tested on MySQL to retrive data for analysis
myQuery = '''
SELECT 
	film.title, film.rental_rate, film.rental_duration, film.replacement_cost, film.rating, 
    store.store_id,
    address.district, city.city, country.country,
    rental.rental_id, DATE(rental.rental_date) AS rental_date, DATE(rental.return_date) AS return_date,
    customer.first_name, customer.last_name, customer.email
FROM 
	inventory
		INNER JOIN
    film ON inventory.film_id = film.film_id
		INNER JOIN
	store ON inventory.store_id = store.store_id
		INNER JOIN
	rental ON inventory.inventory_id = rental.inventory_id
		INNER JOIN
	address ON store.address_id = address.address_id
		INNER JOIN
	city ON address.city_id = city.city_id
		INNER JOIN
	country ON city.country_id = country.country_id
		INNER JOIN
	customer ON rental.customer_id = customer.customer_id;'''

In [4]:
# Executing SQL query
cursor = conn.cursor() 
cursor.execute(myQuery)
rows = cursor.fetchall()

# Converting the queried rows to a DataFrame
# DataFrames are more efficient and easier to make analysis

rows = np.asarray(rows)
df = pd.DataFrame(rows, columns = (['Film_Title', 'Rental_Rate', 'Rental_Duration', 'Replace_Cost', 'Rating', 
                                    'Store_ID',
                                    'District', 'City', 'Country',
                                    'Rental_ID', 'Rental_Date', 'Return_Date',
                                    'Customer_First_Name', 'Customer_Last_Name', 'Customer_Email']))

# Closing the connection
cursor.close()
conn.close()

In [5]:
df

,Film_Title,Rental_Rate,Rental_Duration,Replace_Cost,Rating,Store_ID,District,City,Country,Rental_ID,Rental_Date,Return_Date,Customer_First_Name,Customer_Last_Name,Customer_Email
0,ACADEMY DINOSAUR,0.99,6,20.99,PG,1,Alberta,Lethbridge,Canada,4863,2005-07-08,2005-07-11,JOEL,FRANCISCO,JOEL.FRANCISCO@sakilacustomer.org
1,ACADEMY DINOSAUR,0.99,6,20.99,PG,1,Alberta,Lethbridge,Canada,11433,2005-08-02,2005-08-11,GABRIEL,HARDER,GABRIEL.HARDER@sakilacustomer.org
2,ACADEMY DINOSAUR,0.99,6,20.99,PG,1,Alberta,Lethbridge,Canada,14714,2005-08-21,2005-08-30,DIANNE,SHELTON,DIANNE.SHELTON@sakilacustomer.org
3,ACADEMY DINOSAUR,0.99,6,20.99,PG,1,Alberta,Lethbridge,Canada,972,2005-05-30,2005-06-06,NORMAN,CURRIER,NORMAN.CURRIER@sakilacustomer.org
4,ACADEMY DINOSAUR,0.99,6,20.99,PG,1,Alberta,Lethbridge,Canada,2117,2005-06-17,2005-06-23,BEATRICE,ARNOLD,BEATRICE.ARNOLD@sakilacustomer.org
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16039,ZORRO ARK,4.99,3,18.99,NC-17,2,QLD,Woodridge,Australia,711,2005-05-29,2005-05-31,JESSIE,BANKS,JESSIE.BANKS@sakilacustomer.org
16040,ZORRO ARK,4.99,3,18.99,NC-17,2,QLD,Woodridge,Australia,1493,2005-06-15,2005-06-17,JACKIE,LYNCH,JACKIE.LYNCH@sakilacustomer.org
16041,ZORRO ARK,4.99,3,18.99,NC-17,2,QLD,Woodridge,Australia,6712,2005-07-12,2005-07-20,MAUREEN,LITTLE,MAUREEN.LITTLE@sakilacustomer.org
16042,ZORRO ARK,4.99,3,18.99,NC-17,2,QLD,Woodridge,Australia,9701,2005-07-31,2005-08-01,TONY,CARRANZA,TONY.CARRANZA@sakilacustomer.org
16043,ZORRO ARK,4.99,3,18.99,NC-17,2,QLD,Woodridge,Australia,12894,2005-08-19,2005-08-25,DARREN,WINDHAM,DARREN.WINDHAM@sakilacustomer.org